<div ng-init="cartInit()">
<a href="#!/"> &lt;&lt;Back </a>
<br />
  <h1>Check Out</h1>
  <h2>Welcome, {{username}}</h2>
  
  <div ng-repeat="buy in buys">
    <h3>{{buy.item_id.name}}</h3>
    Quantity: <input type="number" min="1" max="{{buy.item_id.offer}}" ng-model = "buy.demand" />
    <li>Price: ${{buy.item_id.price}}</li>
    <li>Vendor: {{buy.item_id.vendor}}</li>
    <a ng-click="removeFromCart(buy.item_id._id)">Remove from my cart</a>
  </div>
  
  <div>
    <h1>{{message}}</h1>
    <a>Check Out</a>
  </div>

</div>